{% extends 'base/base.html' %}

{% block page-title %}
    Login
{% endblock page-title%}

{% block body %} 
<div class="container">
    <div class="row text-center">
        <h5>Login Form</h5>
    </div>

    <div class="row ">
        
        <div class="col justify-content-center text-center">
            <form action="{% url 'account:login' %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-outline-dark" type="submit" value="Login">
            </form>
        </div>
    </div>
    
</div>

{% endblock body %}